In [1]:
import pandas as pd

In [ ]:
df = pd.csv

In [12]:
df.shape

(4, 3)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, x to zz
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int64
 1   B       4 non-null      int64
 2   C       4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

In [7]:
df

     A   B   C
x    1   2   3
y    4   5   6
z    7   8   9
zz  10  11  12

In [15]:
df = pd.read_csv("./warmup-data/coffee.csv")

In [16]:
df.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [17]:
df.describe

<bound method NDFrame.describe of           Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35>

In [18]:
df.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [21]:
results = pd.read_parquet('./data/results.parquet')
results.head

<bound method NDFrame.head of           year    type              discipline                          event  \
0       1912.0  Summer                  Tennis         Singles, Men (Olympic)
1       1912.0  Summer                  Tennis         Doubles, Men (Olympic)
2       1920.0  Summer                  Tennis         Singles, Men (Olympic)
3       1920.0  Summer                  Tennis       Doubles, Mixed (Olympic)
4       1920.0  Summer                  Tennis         Doubles, Men (Olympic)
...        ...     ...                     ...                            ...
308403  2022.0  Winter                    Luge         Singles, Men (Olympic)
308404  2022.0  Winter  Alpine Skiing (Skiing)        Slalom, Women (Olympic)
308405  2022.0  Winter  Alpine Skiing (Skiing)          Team, Mixed (Olympic)
308406  2022.0  Winter  Alpine Skiing (Skiing)  Giant Slalom, Women (Olympic)
308407  2022.0  Winter                    None        Slalom, Women (Olympic)

                           as  athlete_id   noc             team  place  \
0       Jean-François Blanchy           1   FRA             None   17.0
1       Jean-François Blanchy           1   FRA   Jean Montariol    NaN
2       Jean-François Blanchy           1   FRA             None   32.0
3       Jean-François Blanchy           1   FRA  Jeanne Vaussard    8.0
4       Jean-François Blanchy           1   FRA  Jacques Brugnon    4.0
...                       ...         ...   ...              ...    ...
308403          Marián Skupek      148983   SVK             None   26.0
308404          Elsa Fermbäck      148984   SWE             None   28.0
308405          Hilma Lövblom      148985   SWE           Sweden   13.0
308406          Hilma Lövblom      148985   SWE             None    NaN
308407   Charlotta Säfvenberg      148986  None             None   24.0

         tied medal
0        True  None
1       False  None
2        True  None
3        True  None
4       False  None
...       ...   ...
308403  False  None
308404  False  None
308405  False  None
308406  False  None
308407  False  None

[308408 rows x 11 columns]>

In [23]:
bios2 = results.to_csv

In [ ]:
coffee = pd.read_csv('./warmup-data/coffee.csv')
results = pd.read_parquet('./data/results.parquet')
bios = pd.read_csv('./data/bios.csv')

In [71]:
#coffee.head(10)
coffee.sample(10,random_state=1)

          Day Coffee Type  Units Sold
3     Tuesday       Latte          20
7    Thursday       Latte          30
6    Thursday    Espresso          40
2     Tuesday    Espresso          30
10   Saturday    Espresso          45
4   Wednesday    Espresso          35
1      Monday       Latte          15
12     Sunday    Espresso          45
0      Monday    Espresso          25
13     Sunday       Latte          35